<mat-expansion-panel [(expanded)]="expand">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <span class="expander-header">{{title}}</span>
        </mat-panel-title>
        <mat-panel-description>
            <span class="expander-description">{{description}}</span>
        </mat-panel-description>
        <mat-action-row>
            <button (click)="$event.stopPropagation();addObjective()" mat-button color="primary"
                title="Add Objective"><i class="material-icons md-24 dark-teal">add_circle_outline</i></button>
        </mat-action-row>
    </mat-expansion-panel-header>

    <div class="form-container">
        <app-objective *ngFor="let objective of objectives" [objective]="objective" [objectives]="objectives">
        </app-objective>
    </div>

</mat-expansion-panel>